
.App-header {
  background: linear-gradient(to bottom, #0066cc 0%, #99ff99 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;

  .container {
    width: 70%;

    .title {
      font-size: 6rem;
      text-align: center;
    }

    .task-bar {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .text-field {
        width: 90%;
        display: flex;
        justify-content: space-between;
        background-color: aliceblue;
        border-radius: 5px;

        .MuiInputBase-inputMultiline {
          font-size: 1.345rem;
        }

        // .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        //   border: 3px solid rgb(85, 70, 223);
        // }
      }

      .MuiSvgIcon-root {
        width: 2em;
        height: 2em;
      }

    }

    .list {
      width: 94.2%;
      // margin-left: auto;
      // margin-right: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .normal, .checked {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5vh;
        margin-left: auto;
        margin-right: auto;
        padding: 1vh 2vw;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 5px;

        .checkbox {
          margin-right: 1.5vw;
        }

        .text, .textarea {
          width: 80%;
          word-wrap: break-word;
          margin-right: 1vw;
        }

        .textarea {
          background-color: white;
          border-radius: 5px;

          .MuiOutlinedInput-input {
            font-size: 1.4rem;
          }
        }

        .MuiSvgIcon-root {
          width: 1.5em;
          height: 1.5em;
        }

        
      }

      .normal:hover {
        border-color: white;
      }

      .checked:hover {
        border-color: white;
      }

      .checked {
        text-decoration: line-through;
      }
    }

   
  }
 
}

